* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	/* transition: all .4s; /* */
}
html {
	font-size: 62.5%;	/* 1rem = 10px */
	margin: 0 auto;
}

body {
	/* set default font */
	font-size: 2.1em;	/* 2.1em is default */
	font-family: "Helvetica Neue", "Open Sans", -apple-system, "Segoe UI", Roboto, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
	
	font-weight: 300;
	color: rgba(0,0,0,.8);
	line-height: 1.3;

	/* center content */
	.max-width: 32em;
	.padding: 0 20px;
}
@media screen and (min-width: 900px) {
	/* increases font-size if screen width >= 900px */
	body {
		font-size: 2.8em;
		.padding-right: 60px;
		.max-width: 35em;
		
	}
}
/**********/
/** copy **/
/**********/
h1 {
	font-weight: normal;
	/* padding-left: .7em;	/* visual alignment */
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: .1em;
	/* max-width: 100px; /* */
	
	border-bottom: 7px solid tomato;
	width: 100%;
	padding-bottom: 5px;
	margin-top: 25px;
	/* text-align: center; /* */
	margin-bottom: 25px;
}
h1 a, h1 a:visited {
	text-decoration: none;
	color: inherit;
}
/* h2 {
	font-family: sans-serif;
	font-weight: 300;
	font-size: 2em;
	margin-bottom: 0;
	padding-bottom: 0;
} */
.dropcap {
	font-family: Georgia, serif;
	font-size: 4.8em;
	font-style: italic;
	
	line-height: .7em;
	margin: 0;
	padding: 0 .1em 0 0;
	
	float: left;
}

.home .post-list {
	list-style: none;
	padding: 0; 
}
.post-preview {
	font-size: .8em;
}

/* ordered list link */
ol a {
	color: inherit;
	text-decoration: none;
	padding: 10px 20px;
	
	/*	list links animation */
	background-image: -webkit-linear-gradient(left, white 50%, tomato 50%);
	background-image: linear-gradient(to right, white 50%, tomato 50%);
	background-position: 0;
	background-size: 200%;
	transition: background-position 0.4s;
	/* */
}
	ol a:hover {
		background-color: tomato;
		
		/*	list links animation */
		background-position: -100%;
		/* */
	}
	
/* reversed ordered list */
ol {
	counter-reset: days 6;
	font-size: 1.1em;
	padding-left: 0;
}
	ol li {
		display: block;
		margin: 3rem 0rem;
	}
	ol li:before {
		counter-increment: days -1;
		.content: ' ' counter(days);
		.background-color: red;
		color: white;
		padding: 1rem;
		background: tomato;
		.padding-right: 0;
		border-right: 2px solid white;
	}
ol a {
	background: tomato;
	color: white;
	border: 0.2rem solid tomato;
}
ol a:hover {
	background: transparent;
	color: tomato;
}
ol li {
	display: inline-block;
	margin: 1.5rem 0;
	.margin: 3rem 0;
}
ol {
	.border-left: 0.4em solid tomato;
	.padding-left: 1em;
	margin-top: 50px;
}

/**************/
/*** layout ***/
/**************/

/* TEMPORARY FIX */
.content {
	margin-left: 5vw;
	margin-right: 7vw;
	.margin: 0 auto;
	max-width: 904px;
	padding: 0 52px;
}

/* TEMPORARY FIX */

@media screen and (max-width: 570px) {
	/* switches to *** MOBILE VIEW *** if screen size < 768px */
	body {
		/* margin: 0 auto; /* */
		max-width: 35em; /* */
		font-size: 1.8rem;
		max-width: 904px;
	}
	.content {
		padding: 0 25px;
		margin: 0 auto;
	}
}

/* visual candy */
/* messy... */

/* article paragraph links */ 

article p a,
article p a:visited {
	color: tomato;
	text-decoration: none;
}
article p a:hover, article p a:focus {
	text-decoration: underline;
}

/* article header links */
article header a,
article header a:visited {
	color: inherit;
	border-left: 8px solid tomato;
	padding-left: 7px;
	text-decoration: none;
	font-weight: normal;
}
article header a:hover {
	border-left: 17px solid tomato;
	text-decoration: none;
}
article header a, article header a:hover {
	transition: border .4s;
}

article time {
	font-size: .8em;
	text-transform: uppercase;
	.color: #8b8888;
	.font-weight: normal;
	display: none;
}
article {
	margin-bottom: 35px;
}
#footer {
	position: absolute;
	bottom: 5%;
	right: 5%;
	display: none;
}
#footer p {
	font-size: 1.5rem;
	color: rgba(0,0,0,0.4);
}
.sidebar {
	display: none !important;
}


/***NEW****/
article header {
	.margin: 75px 0;
	padding: 1em 0 0 0;
	margin-bottom: 50px;
}
header h2 {
	font: 3em/1 Avenir, "Helvetica Neue", Lato;
	font-weight: bold;
	margin-bottom: 5px;

}
header span {
	text-transform: uppercase;
	letter-spacing: 8px;
	font-size: 2rem;
	font-weight: bold;
	color: rgba(0,0,0,0.4);
}
article p {
	margin-bottom: 20px;
}
article footer {
	margin: 50px 0 50px 0;
}
article footer span {
	font-family: Avenir, "Helvetica Neue", Lato, sans-serif;
	font-weight: bold;
}
* {*border: 2px solid}
