<!-- side/navigation bar -->
<header>
	<nav class="sidebar">
		<ul>
			<!-- navigation -->  
			<!-- <li><a href="#">about</a></li>
			<li><a href="{{ site.baseurl }}/" {% if page.active == "days" %}class="selected"{% endif %}>1wpad</a></li>
			<li><a href="{{ site.baseurl }}/blog.html" {% if page.active == "blog" %}class="selected"{% endif %}>blog</a></li>
			<!-- <li><a href="{{ site.baseurl }}/about/" {% if page.active == "about" %}class="selected"{% endif %}>about</a></li>
			<li><a href="#">contact</a></li> -->
	      </ul>
	</nav>
</header>