<style type="text/css" media="screen">
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		*border: 1px solid black;
	}
	.container {
		max-width: 300px;
		margin: 50px;
		margin-bottom: 100px;
	}
	@media screen and (max-width: 320px) {
		.container {
			transform: scale(0.8);
		}
	}
	.note {
		width: 16em;
		min-height: 14em;
		background: #f8de59;
		color: black;
		
		.padding: 2em 2em 1em 2em;
		*border: 1px solid black;
		position: relative;
	}
	.note:before {
		content: '';
		position: absolute;
		bottom: -2em;
		left: 0;
		right: 2em;
		border: 1em solid #f8de59;
		z-index: -1;
	}
	.note:after {
		content: '';
		position: absolute;
		bottom: -2em;
		right: 0;
		border-width: 2em 2em 0 0;
		border-style: solid;
		border-color: #d69722 transparent;
		filter: drop-shadow(-4px 5px 9px rgba(0,0,0,0.5));
	}
	
	.note {
		filter: drop-shadow(3px 3px 10px rgba(0,0,0,0.8));
		transform: rotate(7deg);
	}

	textarea{
		width: 8.4em;
		height: 5.8em;
		margin: 20% 0.8em 0 0.8em;
		padding: 0;
		border: 0;
		overflow: hidden;
		background: transparent;
		font: italic 1.6em Georgia, Times, serif;
		letter-spacing: -1px;
		outline-style: none;
	    resize: none;
		.white-space: pre;
		.text-align: center;
	}
	
</style>	

<div class="container">
	<div class="note">
		<!-- <p>Remember to pick up
			some milk at the store!</p> -->
		<textarea name="note" id="js-note"
		onkeyup="setCookie('notetoself',this.value, exp);" 
		spellcheck="false">1. Type note here&#13;2. Bookmark page&#13;3. Free your mind&#13;4. ?????&#13;5. Profit!</textarea>
	</div>
</div>

<script>
	
	function setCookie(name, value, expires) {
	document.cookie = name + "=" + escape(value) + "; path=/" + ((expires == null) ? "" : "; expires=" + expires.toGMTString());
	}

	function getCookie(name) {
		var cname = name + "=";               
		var dc = document.cookie;

	    if (dc.length > 0) {              
			begin = dc.indexOf(cname);       
				if (begin != -1) {           
				begin += cname.length;       
				end = dc.indexOf(";", begin);
					if (end == -1) end = dc.length;
					return unescape(dc.substring(begin, end));
				} 
			}
		document.note.focus();
		return "1. Type note here\n2. Bookmark page\n3. Free your mind\n4. ?????\n5. Profit!";
	}

	var exp = new Date();                                   // make new date object
	exp.setTime(exp.getTime() + (1000 * 60 * 60 * 24 * 365)); // set it 30 days ahead
	
	var note = document.getElementById('js-note');
	note.value = getCookie('notetoself');
	
</script>
