---
layout: default
active: blog
---
<h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h2 class="post-title" itemprop="name headline">{{ page.title }}</h2>
    <span>{{ page.sub }}</span>
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  
  <footer>
	  <span>{{ page.day }}</span>
  </footer>

</article>
